/*based on this reference https://www.w3schools.com/Css/css_table.asp*/

table, th, td {
    border: solid black 1px;
    /*here i'm providing colour as a separate declaration because i'm using a custom property defined in my style.css */
    /*writing it by itself with a fallback (the black declared in the original border value) means if it can't be found
    something will still display*/
    border-color: var(--colour-02);
}

table {
    border-spacing: 0.25rem;
}

th, td {
    padding: 0.5rem;
}

th {
    background-color: var(--colour-02);
    color: var(--colour-01);
}